@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar{
    position:   absolute;
    background-color: rgb(113, 112, 112);
    /* width: 400px; */
    height: 100rem;
    transition:transform 0.1s ease-in;
}
.sidebar nav{
    margin-top: 3rem;
    scroll-behavior: inherit;
    padding: 28px;
}
.sidebar nav li{
    
    list-style-type: none ;
    font-size: 18px;
    padding: 28px 0px;
}

.sidebar nav li a{
    
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.sidebar nav li a:hover{
    
    text-decoration: none;
    color: rgb(47, 0, 255);
}
.main{
    background: #FDF5DF;
    width: 70rem;
    /* padding-top: 85px; */
    margin: 5rem;
    padding-top: 7rem;
    padding-left: 10rem;
    display: flex;
    /* padding: 58px; */
}

.blogcontainer{
    background: #FDF5DF;
    /* width: 70rem; */
    /* padding-top: 85px; */
    margin: 20rem;
    padding-top: 7rem;
    padding-left: 10rem;
    display: contents;
    position: relative;
}

.container{
    display: flex;
    /* padding-top: 85px; */
    
}
.infocontainer{
    /* background: #3cb074; */
    height: 58vh;
    width: 70vw;
    padding: 2rem 0 0 3rem;
    /* padding-top: 85px; */
    /* padding-left: 95px; */
    /* margin: 100px 225px; */
    display:contents;
    /* size: 5rem; */
    position: relative;
    /* justify-content: space-around; */
}
.devInfo{
    display:flex;
    /* justify-self:auto; */
    /* position: fixed; */
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: 5rem;
    font-family: 'Source Code Pro', monospace;

}

.name{
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    


}

.about{
    font-size: 3rem ;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Source Code Pro', monospace;

}

.buttons{
    margin-top: 20px;
}

.btn{
    padding: .8rem;
    border-radius: 20rem;
    color: whitesmoke;
    background: #69ae9a;
    font-weight: bold;
    font-size: 1rem;
    margin: 0rem 2rem;
    cursor: pointer;
     /* position: relative; */

}
.blogItem button {
    font-size: .8rem;
    padding: .6rem 0.6rem;
    margin: 1rem 22rem;
    justify-items: center;
}
.btn:hover
{
    background: whitesmoke;
    color: #58a28d;
}
.devPic img{
    width: 18rem;
    height:18rem;
    border-radius: 10rem;
    justify-content:center;
    /* position:relative; */
    /* display: inline; */
    /* position: absolute; */

}

.contactform{
    /* padding: 0 40px 0 70px; */
    /* padding-top: 100px; */
    font-family:'Source Code Pro', monospace; 
    /* font-size: 20px; */

}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    /* text-align: center; */
    font-size: 39px ;
    /* padding: 15px; */

}
.contactform form div{
    padding: 16px 0;
    display: flex;
    flex-direction: column;


}

.contactform form div input{
    margin: 4px 0 0 0;
    width: 26vw;
    border-radius: 4px;
    padding: 3px;
}
#emailHelp{
    font-size: 14px;
    color: rgb(71, 31, 31);
    margin: 0 10px;
    padding: 10px 0 0;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 5px 0;
}
.mb-3{
    margin-left: 2rem;
}

.blogItem{
    margin-top: 5rem;
    margin-left: 8.5rem;
    margin-right: 4rem;
    font-family: 'Source Code Pro', monospace;
}
 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 25px;

}
p{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.blogItem h1{
    margin: 2rem 2rem 1rem 2rem;
}

.blogItem h2{
    margin: .8rem 4rem ;
}

.blogItem p{
    margin: 1rem 5.5rem;
}
.blog2{
    margin: 5rem 8rem;
}

.blog2 h3{
    margin: 0rem rem ;
    font-size: 1.5em;
    text-align: center;
}
.blog2 p{
    /* position: relative; */
    /* display:flexbox; */
    justify-content: baseline;
    margin: 2rem 0rem;
    line-height: 2.4rem;
    font-size: .7rem;
    font-family: 'Source Code Pro', monospace;
}

.Intro{
    background: #FDF5DF;
    /* width: 70rem; */
    /* padding-top: 85px; */
    margin: 20rem;
    padding-top: 7rem;
    padding-left: 10rem;
    display: contents;
    position: relative;

    /* padding: 58px; */
}

.Intro h2{
    font-family: 'Source Code Pro', monospace;
    margin: 4rem;
    margin-left: 12rem;
    font-size: 3rem;
}

.Intro p{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 15rem;
    line-height: 2.5rem;
    margin-right: 6rem;
}

.SkillItem {
    margin-left: 15rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    /* display: inline; */
    font-family: 'Source Code Pro', monospace;
    
    
}


.hundered{
    width: 250px;
    background: green;
}
.fifty{
    width: 125px;
    background-color: blueviolet;
}
.twentyfive{
    width: 65;
    background-color: black;
}
.Skill{
    width: 250px;
    height: 5px;
    background-color: green;
    border-style: solid ;
    border-color: white;
    border-width: 5px;
    margin-left: 23rem;
    align-content: center;

    /* float:inline-end; */
    /* text-align: center; */
    position: relative;
    
}
.SkillHtml{
    bottom: 23rem;
}

.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
    /* background-color: #717070; */
    /* width: 100vw; */
    /* background-color:#FDF5DF ; */
}

@media (max-width: 1183px)
{
    .sidebar{
        width: 9rem;
        height: 30rem;
        /* background-color: #717070; */
    }
    .main{
        
        background-color: #FDF5DF;
        /* margin: 5rem; */
        /* padding-left: ; */
    }
    /* .sidebar{
        transform: translate(-443px,0px);
        position: absolute;
    } */
    .infocontainer{
        padding-left: 1rem;
    }
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham{
    margin-top: .8rem;
    margin-left: 0.2rem;
    width: 1.6rem;
}

.cross{
    margin-left: 6rem;
    margin-top: .8rem;
    width: 1.6rem;
}




